Common/Together.Core/obj
Common/Together.Core/bin
Common/Together.Infrastructure/bin
Common/Together.Infrastructure/obj
MicroServices/Product/Together.ProductService.Api/bin
MicroServices/Product/Together.ProductService.Api/obj
MicroServices/Product/Together.ProductService.Core/obj
MicroServices/Product/Together.ProductService.Core/bin
MicroServices/Product/Together.ProductService.Infrastructure/bin
MicroServices/Product/Together.ProductService.Infrastructure/obj
Common/Together.AppContracts/obj
Common/Together.AppContracts/bin
MicroServices/Customer/Together.CustomerService.Api/bin
MicroServices/Customer/Together.CustomerService.Api/obj
MicroServices/Customer/Together.CustomerService.Core/bin
MicroServices/Customer/Together.CustomerService.Core/obj
MicroServices/Customer/Together.CustomerService.Infrastructure/bin
MicroServices/Customer/Together.CustomerService.Infrastructure/obj
MicroServices/Customer/Together.CustomerService.Api/obj
MicroServices/Customer/Together.CustomerService.Api/bin
MicroServices/Customer/Together.CustomerService.Infrastructor/obj
MicroServices/Customer/Together.CustomerService.Infrastructor/bin
MicroServices/Customer/Together.CustomerService.Core/obj
MicroServices/Customer/Together.CustomerService.Core/bin
MicroServices/Customer/Together.CustomerService.Api/bin
MicroServices/Customer/Together.CustomerService.Api/obj
MicroServices/Order/Together.OrderService.Infrastructure/obj
MicroServices/Order/Together.OrderService.Infrastructure/bin
MicroServices/Order/Together.OrderService.Core/obj
MicroServices/Order/Together.OrderService.Core/bin
MicroServices/Order/Together.OrderService.Api/bin
MicroServices/Order/Together.OrderService.Api/obj
AppGateway/Together.ApiGateway/bin
AppGateway/Together.ApiGateway/obj
MicroServices/Identity/Together.IdentityServer/bin
MicroServices/Identity/Together.IdentityServer/obj
EventsBus/Together.Product.Process/bin/
EventsBus/Together.Product.Process/obj/
MicroServices/Warehouse/Together.Warehouse.Core/bin/
MicroServices/Warehouse/Together.Warehouse.Core/obj/
MicroServices/Warehouse/Together.Warehouse.Infrastructor/bin/
MicroServices/Warehouse/Together.Warehouse.Infrastructor/obj/
MicroServices/Shopping/Together.Shopping.Infrastructor/obj/
MicroServices/Shopping/Together.Shopping.Infrastructor/bin/
MicroServices/Shopping/Together.Shopping.Core/obj/
MicroServices/Shopping/Together.Shopping.Core/bin/
MicroServices/Shopping/Together.Shopping.Api/obj/
MicroServices/Shopping/Together.Shopping.Api/bin/
